#login_container {
  position: fixed;
  z-index: 10;
  transform: translateY(100vw);
  background-color: white;
  width: 100vw;
  max-width: inherit;
  height: 100vh;
  transition: transform 0.7s;
}

@keyframes animationSearchBar {
  0%{
    opacity: 0;
    top:-100px;
  }
  100%{
    opacity: 1;
    top: 0px;
  }
}

@media screen and (max-width: 992px) {
  #formRicerca {
    display: none;
  }
}

.formAnimationNormal{
  animation: animationSearchBar 1s;
}

.formInvisible{
  opacity: 0;
  top:-100px;
}

.formAnimationReverse{
  animation: animationSearchBar 1s reverse;
}

.formVisible{
  opacity: 1;
  top: 0px;
}

#formRicerca{
  position: absolute;
  min-width: 300px;
  right: 0px;
  max-width: inherit;
  width:auto;
  background-color: white;
}

.password-input {
  margin-bottom: 20px;
}

#login_container.login-form-show {
  transform: translateY(0);
}
