#login_container {
  position: fixed;
  z-index: 10;
  transform: translateY(100vw);
  background-color: white;
  width: 100vw;
  max-width: inherit;
  height: 100vh;
  transition: transform 0.7s;
}
.password-input {
  margin-bottom: 20px;
}

#login_container.login-form-show {
  transform: translateY(0);
}
